build/*
build/Local/Designer/cache/DotNetDll/Preview/bundle
build/Local/Designer/cache/uno55/_-2fbf9e20
build/Local/Designer/cache/DotNetDll/Preview/bundle
build/Local/Designer/cache/uno55/jobber.unoproj.g-cf5e9162
build/Local/Designer/cache/ux13/Jobber.unoproj.g.uno
build/Local/Designer/cache/ux13/MainView.g.uno
build/Local/Designer/Jobber.dll
build/Local/Designer/Jobber.pdb
build/Local/Designer/cache/ux13/MainView.g.uno
